@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");

@font-face {
  font-family: "morse";
  src: local("morse"), url(./Assets/fonts/morse/morse.ttf) format("truetype");
}

html {
  font-family: "Noto Sans KR", sans-serif !important;
  letter-spacing: 0.0142857143em;
  line-height: 27px !important;
  font-weight: 400;
  font-size: 0.95rem !important;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 2px;
  background-clip: content-box;
  background-color: #ccc;
}

html ::-webkit-scrollbar-thumb:hover {
  background-color: #9e9e9e;
}
/* spinner */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

#loader-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.hearten {
  animation: 2s ease 0s infinite normal none running dgzxEO;
}

@keyframes dgzxEO {
  1% {
    transform: scale(1.25);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.25);
  }
  18% {
    transform: scale(1);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* tart of styles for image to pdf module */

.divImageGridParent ::-webkit-scrollbar {
  height: 7px;
  background-color: #3273dc;
  border-radius: 60px;
}

.divImageGridParent ::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border: none;
  height: 5px;
  width: 15%;
  border-radius: 60px;
  background: #000;
  margin-top: -4px;
}

.divImageGridParent::-webkit-scrollbar-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.divImageGridParent:focus {
  outline: none;
}
.divImageGridParent:focus::-webkit-scrollbar-runnable-track {
  background: rgb(66, 56, 56) !important;
}

.divImageGridParent {
  padding-bottom: 20px !important;
  overflow: visible !important;
}
/* end of styles for img to pdf */

.field-light {
  padding: 2rem !important;
  border: 1px solid #cccccc !important;
  box-shadow: 1px 1px 6px 0px #ccc;
  background-color: white;
}
.share-div {
  display: flex;
}
.share-div button svg {
  padding-right: 3px !important;
  border-radius: 4rem;
  padding: 3px;
}
.share-div button svg:hover {
  box-shadow: 1px 1px 4px 0px #cfcece;
}

body {
  background-color: #f3f6fa !important;
  font-family: "Noto Sans KR", sans-serif !important;
  margin: 0px;
  padding: 0px;
  line-height: 27px !important;
  font-weight: 400;
  font-size: 0.95rem !important;
  letter-spacing: 0.0142857143em;
  font-weight: 400;
}

.div-card {
  text-decoration: none;
  border: 1px solid #e6ecf1;
  margin: 10px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  color: #242a31;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgb(216 216 216);
  min-width: 300px;
  min-height: 100px;
  max-width: 100%;
}

/* filerbot image editor */
.sc-fzoxKX {
  background-color: white;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.sc-fzpjYC .ibhLNh {
  background-image: url("./Assets/images/viewport-bg.png");
}
.mq-editable-field {
  width: 330px;
  box-shadow: 1px 3px 16px -10px #d0d0d0 !important;
  border: 1px solid #f2f2f2 !important;
  padding: 1rem;
}

.header-left {
  display: flex;
  text-align: left !important;
}

.chtnE {
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  padding: 10px 0px;
  align-items: center;
  margin: 0px auto;
  max-width: 1440px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.subtext {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
  color: rgb(26, 26, 26);
  padding-top: 16px;
  margin: 0px;
}

.js35eu-0 {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0px;
}

.footer-ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.matrixinput {
  width: 60px;
  height: 45px;
  margin: 0px 12px;
  border: none;
  border-bottom: 1px solid blue;
  text-align: center;
  color: blueviolet;
}
.matrixinput:focus {
  outline: none;
  box-shadow: 2px 3px 8px #3298dc;
}

.mattrixarea {
  border: 2px solid blue;
  border-top: 0px;
  border-bottom: 0px;
  border-color: blue;
  border-radius: 14px;
  text-align: center;
}

.kVIQfP:hover {
  border: 1px solid rgb(164, 106, 221);
  box-shadow: 0px 0px;
}

.kVIQfP {
  display: flex;
  position: relative;
  padding: 16px 56px 16px 64px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgb(26, 26, 26);
  user-select: none;
  outline: none;
  height: 90px;
  background: white;
}

.jkSeLq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 3px 8px 0 rgb(216 216 216);
  border-radius: 3px;
  width: 100%;
  min-width: 260px;
}

.dOHSmX {
  position: absolute;
  pointer-events: none;
  left: 17px;
  top: 17px;
}

.csDfHB {
  overflow: hidden;
}

.lfMGmO {
  text-decoration: inherit;
  color: inherit;
  margin: 0px;
  display: inline-flex;
}

.iUiZBt {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

.jZEeUz {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(26, 26, 26);
  position: absolute;
  pointer-events: none;
  text-align: left;
  left: 65px;
  right: 57px;
  margin: 0px;
  top: 41px;
}

.jgylRt {
  position: absolute;
  color: rgb(26, 26, 26);
  pointer-events: none;
  right: 17px;
  top: 17px;
}

/* styles for apps */

.mainContainer {
  display: block;
  border-radius: 2px;
  margin: 10px 0;
  background-color: #fafafa !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
  position: relative;
  text-align: start;
}

.appHeading {
  font-weight: 700 !important;
  font-size: calc(1rem + 0.3vw);
  padding-top: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-style: inherit;
}
.text-option {
  background-color: #f0f8ff;
  border-radius: 3px;
  padding: 4px 10px;
  display: inline-flex;
  text-transform: uppercase;
  line-height: 10px;
}

.resultDiv {
  font-size: 15px;
  border: 5px solid white;
  padding: 1rem;
}

.blink_me {
  border: 5px solid;
  animation: blinker 1s linear infinite;
}

.shade_me {
  animation: shader 2s linear infinite;
}

@keyframes shader {
  0% {
    background-color: #48c774;
  }
  50% {
    background-color: #86cb9f;
  }
  100% {
    background-color: #71b387;
  }
}

@keyframes blinker {
  0% {
    border-color: blue;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: blue;
  }
}

.inputMathField {
  padding: 5px 10px;
  border: 2px solid #8a2be270;
  border-radius: 5px;
  font-size: 18px;
  min-width: 243px;
}

.resPercentage {
  background-color: #3f51b5;
  border: 2px solid #00000061;
  /* margin: 1rem; */
  font-weight: bolder;
  color: white;
  padding: 0.7rem;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  border-radius: 3px;
  max-width: 243px;
}

.appContainer {
  margin: 1rem;
}

/* .MuiCardContent-root {
  padding: 0px 16px 0px 16px !important;
} */

/* .MuiCardContent-root:last-child {
  padding-bottom: 24px !important;
} */

.divLink {
  color: #744cbc;
  text-decoration: none;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  color: #242a31;
  background-color: white;
  border-radius: 2px;
  min-height: 100px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 40%);
}

.divLink:hover {
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 40%);
}

.divLink span {
  margin-right: 5px;
}

.gridItem {
  margin: 10px 1px 10px 1px !important;
  min-width: 212px !important;
}

hr {
  height: 1px;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 27px;
}

.text-muted {
  color: #757575 !important;
}

#st-el-4 {
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#st-el-4 .st-btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 48px;
  line-height: 30px;
  margin: 4px;
  opacity: 1;
  overflow: hidden;
  padding: 8px 12px;
  position: relative;
  text-align: left;
  top: 0;
  vertical-align: top;
  width: 148px;
  background-color: cornflowerblue;
}

#st-el-4 .st-btn > img {
  display: inline-block;
  height: 20px;
  margin-top: 6px;
  vertical-align: top;
  width: 20px;
}

#st-el-4 .st-btn > span {
  display: inline-block;
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: top;
  width: 96px;
}

.chtnE > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.rv-xy-plot__grid-lines__line {
  stroke: gray;
  stroke-width: 1;
}

.circle {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ccc;
}

/* to hide number input arrows */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.line {
  overflow: hidden;
  text-align: center;
}

.line:before,
.line:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line:before {
  right: 0.5em;
  margin-left: -50%;
}

.line:after {
  left: 0.5em;
  margin-right: -50%;
}

.gsc-results-wrapper-overlay {
  text-align: left;
}

.gsc-search-button .gsc-search-button-v2 {
  background-color: white;
  cursor: pointer;
  border: none;
  padding: 12px 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.gsc-search-button .gsc-search-button-v2:hover {
  background-color: #eee;
  border-left: 1px solid #c5c5c5;
}

.gsc-control-wrapper-cse {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
.gsc-search-button-v2 svg {
  fill: black !important;
}
.gsc-input-box {
  border: none !important;
}
.gsc-search-box {
  margin-bottom: 0px !important;
}

.divContents {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 4px 0px #cac5d0;
  border-radius: 2px;
  padding: 30px;
  min-width: 225px !important;
  position: relative;
}

.columns .column .content p {
  padding: 0px 0.8rem;
}
.columns .column .content h5 {
  padding: 18px 0px 0px 15px;
}

.heart {
  background: red;
  position: relative;
  height: 100px;
  width: 100px;
  float: right;
  /* Animation */
  transform: rotate(-45deg) scale(1);
  animation: pulse 2s linear infinite;
}

.heart::after {
  /* background:blue; */
  background: inherit;
  border-radius: 50%; /* To make circle */
  content: "";
  position: absolute;
  /* top: -100px;*/
  top: -50%; /* Inherit properties of parent */
  /* left: -100px; */
  left: 0;
  height: 100px;
  width: 100px;
}
.heart::before {
  /* background:green; */
  background: inherit;
  border-radius: 50%; /* To make circle */
  content: "";
  position: absolute;
  top: 0;
  right: -50%; /* Inherit properties of parent */
  height: 100px;
  width: 100px;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  } /*
	10% {
		transform: rotate(-45deg) scale(1.3);
	}
	20% {
		transform: rotate(-45deg) scale(0.9);
	}
	30% {
		transform: rotate(-45deg) scale(1.2);
	}
	40% {
		transform: rotate(-45deg) scale(0.9);
	}*/
  50% {
    transform: rotate(-45deg) scale(1.3);
    opacity: 1;
  } /*
	60% {
		transform: rotate(-45deg) scale(0.95);
	}
	70% {
		transform: rotate(-45deg) scale(1);
	} */
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@media (max-width: 1439px) {
  .appHeading {
    padding-left: 14px;
  }
}

@media (min-width: 140px) and (max-width: 450px) {
  .divLink {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 950px) {
  .divLink {
    width: 224px;
  }
}

@media (min-width: 950px) and (max-width: 100%) {
  .divLink {
    width: 350px;
  }
}

@media (min-width: 140px) and (max-width: 640px) {
  .divLink {
    width: 100%;
  }
  .bhAFtM {
    width: 100%;
    padding: 5px;
  }
  .div-card {
    margin: 0px;
  }
  .footer-ul {
    display: block;
    text-align: left;
  }

  .makeStyles-header-14 {
    padding: 2rem !important;
  }

  .appContainer {
    margin: 0rem;
  }

  /* .MuiContainer-root {
    padding: 16px 0px !important;
  } */
  .makeStyles-content-3 {
    padding: 0px !important;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .bhAFtM {
    width: 90%;
    padding: 12px;
  }
  .divLink {
    width: 300px;
  }
  .appContainer {
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  .divLink {
    width: 300px;
  }
  .bhAFtM {
    padding: 12px;
    min-width: 255px;
  }
  .appContainer {
    margin: 1rem;
  }
}
